@charset "UTF-8";
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 17px;
  box-sizing: border-box;
}

.lista {
  list-style: none;
  text-decoration: none;
}

/* Encabezado: logo de la página*/
.head {
  display: flex;
  background-color: #ffdf00 !important;
  border: 5px solid white;
}
.head__elementos {
  display: flex;
  margin: 10px 0px 10px 0px;
}
.head__logo {
  display: flex;
  align-items: center;
  font-family: "Lobster", sans-serif;
  font-size: 30px;
}
.head__logo__img {
  height: 40px;
  width: fit-content;
  margin: 0px 20px 0px 10px;
}

.head__busqueda {
  display: flex;
}
.head__busqueda__btn {
  border-radius: 10px;
}

.search-text {
  font-family: "Dosis";
}

.lupa {
  display: none;
}

/*barra de navegación*/
.nav__btn1 {
  font-weight: 700;
  font-family: "Dosis";
  font-size: 20px;
  color: black;
  margin: 0%;
}
.nav__btn {
  font-weight: 700;
  font-family: "Dosis";
  font-size: 20px;
  color: black;
}

/*body*/
.color-cuerpo {
  background-image: repeating-linear-gradient(293deg, hsla(29, 0%, 74%, 0.12) 0px, transparent 7px, hsla(29, 0%, 74%, 0.12) 12px, transparent 19px, hsla(29, 0%, 74%, 0.12) 24px, transparent 31px, hsla(29, 0%, 74%, 0.12) 36px), repeating-linear-gradient(43deg, hsla(29, 0%, 74%, 0.12) 0px, transparent 7px, hsla(29, 0%, 74%, 0.12) 12px, transparent 19px, hsla(29, 0%, 74%, 0.12) 24px, transparent 31px, hsla(29, 0%, 74%, 0.12) 36px), repeating-linear-gradient(0deg, hsla(29, 0%, 74%, 0.12) 0px, transparent 7px, hsla(29, 0%, 74%, 0.12) 12px, transparent 19px, hsla(29, 0%, 74%, 0.12) 24px, transparent 31px, hsla(29, 0%, 74%, 0.12) 36px), linear-gradient(90deg, rgb(253, 253, 253), rgb(253, 253, 253));
}

.banner {
  margin: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
}
.banner__contenedor {
  display: flex;
  justify-content: center;
}
.banner__contenedor__video {
  width: 100%;
  max-width: -webkit-fill-available;
}

/*Contenedor imágenes-html*/
.banner2 {
  background-color: gold !important;
  border: 3px solid black;
}
.banner2__container {
  justify-content: center !important;
}
.banner2__container__h2 {
  display: block;
  text-align: center;
  margin: 0%;
  font-family: "Dosis";
  font-weight: 700;
}

.card-contenedor {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  flex-wrap: wrap;
  cursor: default;
}
.card-contenedor__card {
  width: 30%;
  padding: 10px;
  border-style: ridge;
  aspect-ratio: 16/9;
  box-sizing: border-box;
  box-shadow: 0px 1px 10px;
  transition: all 400ms ease;
}
.card-contenedor__card__img {
  width: 100%;
  border-radius: 10px;
  max-width: 100%;
  height: 400px;
}
.card-contenedor__card__body {
  text-align: center;
  padding: 15px;
}
.card-contenedor__card__body__text {
  font-family: "Dosis";
}
.card-contenedor__card:hover {
  box-shadow: 5px 5px 20px;
  transform: translateY(-3%);
}

/*Titulos secciones*/
.titulo2 {
  background-color: gold;
  text-align: center;
  margin: 10px;
  font-family: "Dosis";
  border: solid;
}

/*Productos*/
/*Contenedor productos*/
.productos__contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.productos__contenedor__card {
  border: solid;
  padding: 20px;
  margin: 30px;
}
.productos__contenedor__card .card-body {
  text-align: center;
}
.productos__contenedor__card .card-body .card-title {
  font-size: 17px;
}
.productos__contenedor__card .card-body .btn {
  font-weight: 500;
  font-family: "Dosis";
  font-size: 15px;
  color: black;
  border: solid;
  background-color: #ffdf00;
}
.productos__contenedor__card .card-body1 {
  text-align: center;
  margin: 40px;
}
.productos__contenedor__card .card-body1 .btn {
  font-weight: 500;
  font-family: "Dosis";
  font-size: 15px;
  color: black;
  border: solid;
  background-color: #ffdf00;
}
.productos__contenedor__card .card-body1 .card-title {
  font-size: 17px;
}

/*Pedidos*/
/*Formulario-contacto*/
.pedidos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.pedidos__formulario {
  width: fit-content;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.pedidos__formulario .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.pedidos__formulario .form-group label {
  flex: 1;
  margin-right: 10px;
  font-family: "Dosis";
  font-weight: 500;
}
.pedidos__formulario .form-group input {
  flex: 2;
  padding: 5px;
  font-family: "Dosis";
}
.pedidos__formulario p {
  margin: 20px 0;
  font-family: "Dosis";
  font-weight: 500;
}
.pedidos__formulario .text-container {
  width: 100%;
  padding: 10px;
  resize: vertical;
  margin: 10px 0px 20px 0px;
}
.pedidos__formulario .submit-btn {
  padding: 10px 20px;
  font-weight: 500;
  font-family: "Dosis";
  font-size: 15px;
  color: black;
  border: solid;
  background-color: gold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 40%;
  align-self: center;
}
.pedidos__formulario .submit-btn:hover {
  background-color: #0056b3;
}

/*Contacto*/
.contacto__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col {
  padding: 10px;
}

.descripcion-ubicacion p {
  font-family: "Dosis";
  margin: 20px;
}

.mapa-ubicacion iframe {
  margin: 20px;
}

.redes h3 {
  margin: 20px;
  font-family: "Dosis";
  font-size: 20px;
  font-weight: 500;
}
.redes img {
  width: 100px;
  margin: 30px;
}

.redes .lista {
  margin: 10px;
}

.nosotros__container {
  width: 100%;
  padding: 20px;
}
.nosotros__container .row {
  width: 100%;
}
.nosotros__container p {
  font-size: 15px;
  font-family: "Dosis";
}
.nosotros__container img {
  width: 40%;
}

/*Envíos*/
.envios-titulo {
  font-size: 25px;
  font-family: "Dosis";
  margin-bottom: 20px;
}

.envios-img {
  width: 5%;
  margin: 10px;
}

.envios-img-container {
  display: flex;
  justify-content: space-around;
}

.entrega-productos {
  padding: 10px;
  margin: 20px;
  font-family: "Dosis";
}

/*navegación final*/
.pie-final {
  background-color: #f8de4e;
}

.row-pie {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
}

.column1 {
  margin: 0px 20px 0px 0px;
  justify-self: self-start;
  text-align: left;
}
.column1pie {
  display: flex;
}
.column1pie__navegacion {
  margin: 0px 40px 0px 10px;
}

.column2 {
  align-content: flex-end;
}

.column3 {
  line-height: 45px;
  margin-top: 20px;
}

/*lista estilo general-navegacion final*/
.lista__link {
  list-style: none;
  font-size: 15px;
  font-family: "Dosis";
  text-decoration: none;
}

.lista__pie {
  list-style: none;
  font-size: 15px;
  font-family: "Dosis";
  text-decoration: none;
}

/*Media queries- tablet*/
@media (max-width: 768px) {
  /* … */
}
/*Media queries- mobile*/
@media (max-width: 480px) {
  /*header-busqueda*/
  .lupa {
    display: inline;
  }
  .lupa .lupa-busqueda {
    width: 45px;
    margin-right: 5px;
  }
  /*Header-html*/
  .head__busqueda {
    display: none;
  }
  /*body-index*/
  .banner {
    /* margin: 20px;*/
    display: flex;
    justify-content: center;
  }
  .__contenedor {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  .__video {
    width: 480px !important;
    height: auto;
  }
  /*Contenedor imágenes-index*/
  .card-contenedor {
    flex-direction: column;
    align-items: center;
  }
  .card-contenedor__card {
    width: 90%;
    padding: 20px;
    margin: 15px;
  }
  .card-contenedor__card__img {
    height: auto;
  }
  /*Navfinal-index*/
  .column1pie__navegacion__navfinal__pie {
    font-size: 15px;
  }
  .column1pie__navegacion__navfinal__link {
    font-size: 15px;
  }
  .column2__autor {
    font-size: 10px;
  }
  .column3list-grouplistaa {
    font-size: 15px;
  }
  /*Contacto*/
  .contacto__container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contacto__container .row {
    width: 100%;
  }
  .mapa-ubicacion iframe {
    width: 90%;
  }
  .redes h3 {
    border: solid;
    background-color: gold;
  }
  .nosotros__container .row {
    flex-direction: column;
  }
  /*Pedidos-*/
  .text-container {
    width: 100%;
  }
  /*Productos-contenedor imagenes*/
  .productos__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productos__contenedor__card {
    width: 100%;
    max-width: 400px;
  }
  .envios-img {
    width: 15%;
  }
}

/*# sourceMappingURL=main.css.map */
