.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* Encabezado: logo de la página*/
 .logo {
  display: flex;
  background-color: #ffdf00;
   }
  .logo h1 {
    display: flex;
    align-items: center;
    margin: 20px 100px 20px 50px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    }
  .logo img{
    width: 80px;
  }
  .navbar-bg-body-tertiary {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
.menu {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
}
/*body*/
.video {
  width: 1200px;
  margin: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
}
.titulo2 { 
  background-color: #ffdf00;
  display: flex;
  justify-content: center;
font-family: monospace;
}
.card-contenedor {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 15px 15px;
}
.card-img {
  width: 30%;
  padding: 10px 10px 10px 10px;
  border-style: ridge;
}
.card-img-first {
  width: 100%;
  border-radius: 10px;

}