/*navegación final*/
.row-pie { 
  display: grid;
  flex-wrap: nowrap;
  max-width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
}  
.column1 {
    margin: 0px 20px 0px 0px;
    justify-self: self-start;
    text-align: left;
    &pie {
      display: flex;
    &__navegacion {
      margin: 0px 40px 0px 10px;
   }
  }
}
.column2 {
  align-content: flex-end;
}
.column3 {
line-height: 50px;
}