/*body*/
.color-cuerpo {
    background-image: repeating-linear-gradient(293deg, hsla(29,0%,74%,0.12) 0px,transparent 7px,hsla(29,0%,74%,0.12) 12px,transparent 19px,hsla(29,0%,74%,0.12) 24px,transparent 31px,hsla(29,0%,74%,0.12) 36px),repeating-linear-gradient(43deg, hsla(29,0%,74%,0.12) 0px,transparent 7px,hsla(29,0%,74%,0.12) 12px,transparent 19px,hsla(29,0%,74%,0.12) 24px,transparent 31px,hsla(29,0%,74%,0.12) 36px),repeating-linear-gradient(0deg, hsla(29,0%,74%,0.12) 0px,transparent 7px,hsla(29,0%,74%,0.12) 12px,transparent 19px,hsla(29,0%,74%,0.12) 24px,transparent 31px,hsla(29,0%,74%,0.12) 36px),linear-gradient(90deg, rgb(253,253,253),rgb(253,253,253));
}
.banner {
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    &__contenedor {
        display: flex;
        justify-content: center;
        &__video {
            width: 100%;
            max-width: -webkit-fill-available; 
        }
    }
  }
  /*Contenedor imágenes-html*/
  .banner2 { 
    background-color: $color2 !important;
    border: 3px solid black;
    &__container {
        justify-content: center !important;
        &__h2 {
        display: block;
        text-align: center;
        margin: 0%;
        font-family: $dosis;
        font-weight: 700;
        }
  }
  }
  .card-contenedor {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    flex-wrap: wrap;
    cursor: default;
    &__card {
        width: 30%;
        padding: 10px;
        border-style: ridge;
        aspect-ratio: 16 / 9;
        box-sizing: border-box;
        box-shadow: 0px 1px 10px;
        transition: all 400ms ease;
        &__img {
            width: 100%;
            border-radius: 10px;
            max-width: 100%;
            height: 400px;
        }
        &__body {
            text-align: center;
            padding: 15px;
        &__text {
            font-family: $dosis;
            }
        }
    }
    &__card:hover {
        box-shadow: 5px 5px 20px;
        transform: translateY(-3%);
    }
    }
    /*Titulos secciones*/
    .titulo2 {
        background-color: $color2; //modificar colores porqué no agarra en la página
        text-align: center;
        margin: 10px;
        font-family: $dosis;
        border: solid;
    }
    /*Productos*/
    /*Contenedor productos*/
.productos__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    &__card {
      border: solid;
      @include espacios(20px, 30px);
      .card-body {
        text-align: center;
        .card-title {
          font-size: 17px;
        }
        .btn {
          @include btn(500, $dosis, 15px, black);
          border: solid;
          background-color: $color1;
        }
      }
      .card-body1 {
        text-align: center;
        margin: 40px;
        .btn {
            @include btn(500, $dosis, 15px, black);
            border: solid;
            background-color: $color1;
          }
        .card-title {
          font-size: 17px;
        }
      }
    }
  }
/*Pedidos*/
/*Formulario-contacto*/
.pedidos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    &__formulario {
      width: fit-content;
      margin: 20px;
      display: flex;
      flex-direction: column;
      .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        label {
          flex: 1;
          margin-right: 10px;
          font-family: $dosis;
          font-weight: 500;
        }
        input {
          flex: 2;
          padding: 5px;
          font-family: $dosis;
        }
      }
      p {
        margin: 20px 0;
        font-family: $dosis;
        font-weight: 500;
      }
      .text-container {
        width: 100%;
        padding: 10px;
        resize: vertical;
        margin: 10px 0px 20px 0px;
      }
      .submit-btn {
        padding: 10px 20px;
        @include btn(500, $dosis, 15px, black);
        border: solid;
        background-color: $color2; 
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 40%;
        align-self: center;
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
/*Contacto*/
.contacto__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.col {
  padding: 10px;
}

.descripcion-ubicacion {
   p {
    font-family: $dosis;
    margin: 20px;
    }
}
.mapa-ubicacion {
  iframe {
    margin: 20px;
  }
}
.redes {
  h3 {
    margin: 20px;
    font-family: $dosis;
    font-size: 20px;
    font-weight: 500;
  }
  img {
  width: 100px;
  margin: 30px;
  }
}
.redes .lista {
  margin: 10px;
}