/* Encabezado: logo de la página*/
//agregar background al body $color-complementario2
.head {
    display: flex;
    background-color: #ffdf00 !important;
    border: 5px solid white;
    &__elementos {
        display: flex;
        margin: 10px 0px 10px 0px;
    }
    &__logo{
   display: flex;
      align-items: center;
      font-family: $lobster, sans-serif;
      font-size: 30px;
      &__img {
        height: 40px;
        width: fit-content;
        margin: 0px 20px 0px 10px;
      }
     }
}
.head__busqueda {
    display: flex;
}
.lupa {
    display: none;
}
/*barra de navegación*/
.nav {
    &__btn1 {
        @include btn (700, $dosis, 20px, black);
        margin: 0%
    }
    &__btn {
    @include btn (700, $dosis, 20px, black);
    }
}