/* Encabezado: logo de la página*/
.head {
    display: flex;
    background-color: #ffdf00 !important;
    border: 5px solid white;
    &__elementos {
        display: flex;
        margin: 10px 0px 10px 0px;
        padding: 0%;
    }
    &__logo{
   display: flex;
      align-items: center;
      font-family: $lobster, sans-serif;
      font-size: 30px;
      &__img {
        height: 40px;
        width: fit-content;
        margin: 0px 20px 0px 10px;
      }
     }
}
     .nav {
      display: flex;
      margin-left: auto;
      align-items: center;
    }