//navegación btn
@mixin btn($fw, $ff, $fs, $cf ){
    font-weight: $fw;
    font-family: $ff;
    font-size: $fs;
    color: $cf;
}
//padding-margin
@mixin espacios ($p, $m) {
    padding: $p;
    margin: $m;
}
//titulos
@mixin titulos ($b, $bk) {
    border: $b;
    background-color: $bk;
}
