//tipografias
$lobster: "Lobster"; 
$dosis: "Dosis";
$no-list: "none";
//Colores
$color1: #ffdf00 ; //amarillo fuerte
$color2: gold //h2 secciones
/*//Mapas
$font-size:(
    h1: 30px,
    h2: 25px,
    h3: 20px,
    h5: 17px,
);
// titulo - size
@each $titulo, $size in $font-size {
    .hgs-#{$titulo} {
        font-size: $size;
    }
} */
