//tipografias
$lobster: "Lobster"; 
$dosis: "Dosis";
$no-list: "none";
//Colores
$color1: "#FDDE55"; //amarillo fuerte
$color2: "#feefad"; //amarillo claro
$complementary-color1: "#03AED2"; //cian
$complementary-color2: "#68D2E8"; //celeste